{% include 'dashboard/navbar.html.twig' %}

{# {% block search %}
   <form id="searchForm" action="{{ path('searcher', {'query': 'replace_with_query_value'}) }}" method="get" class="d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search search-form">
  <div class="input-group">
        <input type="text" class="form-control bg-light border-0 small" id="searchQuery" name="query" placeholder="Search for..."
            aria-label="Search" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit">
                <i class="fas fa-search fa-sm"></i>
            </button>
        </div>
    </div>
</form>
{% endblock %} #}
{% block body %}
<div class="row">
    <div class="col-md-6">
    <div class="col-md-6 text-md-end">
        <a href="{{ path('app_reponsereclamation_index') }}" type="button" class="btn btn-outline-primary" >Liste des réponses réclamation</a>
    </div>
    </div>
    </div>
    
    <h1>Liste des Réclamations</h1>

    <table border='2' class="table table-bordered" id="circuitsContainer">
        <thead class="table-dark">
            <tr>
                <th class="text-center">Id du réclamation</th>
                <th class="text-center">Intitule du réclamation</th>
                <th class="text-center">Text du réclamation</th>
                <th class="text-center">User E-mail</th>
                <th class="text-center">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reclamation in reclamations %}
            <tr>
                <td>{{ reclamation.idrec }}</td>
                <td>{{ reclamation.intitule }}</td>
                <td>{{ reclamation.textrec }}</td>
                <td>{{ reclamation.emailu }}</td>
                <td>
                    <a href="{{ path('app_reclamation_show', {'idrec': reclamation.idrec}) }}" class="btn btn-outline-info">Show</a>
                    {# <a href="{{ path('app_reclamation_edit', {'idrec': reclamation.idrec}) }}" class="btn btn-outline-primary">Edit</a> #}
                    <a href="{{ path('app_reponsereclamation_new', {'idrec': reclamation.idrec}) }}"  class="btn btn-outline-success">Réponse</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

<div class="row">
    <div class="col-md-6">
    <div class="col-md-6 text-md-end">

    </div>
    </div>
    </div>

 <  {% if reclamations is not empty %}
        <h2>Statistique</h2>
        <div class="row">
            <div class="col-md-6">
                <canvas id="reclamationsPerUserChart" width="400" height="400"></canvas>
            </div>
        </div>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var ctx = document.getElementById('reclamationsPerUserChart').getContext('2d');
                var data = {
                    labels: [{% for data in percentageData %}'User {{ data.userId }}',{% endfor %}],
                    datasets: [{
                        data: [{% for data in percentageData %}{{ data.percentage }},{% endfor %}],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.6)',
                            'rgba(54, 162, 235, 0.6)',
                            'rgba(255, 206, 86, 0.6)',
                            // Add more colors as needed
                        ],
                    }]
                };

                var options = {
                    responsive: true,
                    maintainAspectRatio: false,
                };

                var myPieChart = new Chart(ctx, {
                    type: 'pie',
                    data: data,
                    options: options,
                });
            });
        </script>
    {% endif %}  
    
{% endblock %}
{% include 'dashboard/footer.html.twig' %}