{% include 'dashboard/navbar.html.twig' %}

{% block body %}
    <h1>Réclamation</h1>

    <table border='2' class="table table-bordered">
        <tbody>
            <tr>
                <th>Id du réclamation</th>
                <td>{{ reclamation.idrec }}</td>
            </tr>
            <tr>
                <th>Intitule</th>
                <td>{{ reclamation.intitule }}</td>
            </tr>
            <tr>
                <th>Text du réclamation</th>
                <td>{{ reclamation.textrec }}</td>
            </tr>
            <tr>
                <th>User E-mail</th>
                <td>{{ reclamation.emailu }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reclamation_index') }}"  class="btn-style">Back to list</a>
    <a href="{{ path('app_reclamation_edit', {'idrec': reclamation.idrec}) }}">Edit</a>

    
{% endblock %}
{% include 'dashboard/footer.html.twig' %}